* {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--dark);
  color: var(--light);
  font-family: var(--font-s);
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-flow: column;
  height: 100%;
  min-height: 100vh;
}

a {
  color: currentcolor;
  text-decoration: none;
  transition: 0.2s ease all;
}

a:hover {
  color: var(--high);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

main {
  flex: 1 0 auto;
  height: 100%;
  padding-top: var(--margin);
  padding-bottom: var(--margin);

  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: calc(100% - var(--margin-2));
  margin: auto;
}
