#footer {
  width: 100%;
  height: auto;

  border-top: 2px solid var(--light);
  padding-top: var(--margin);
  padding-bottom: var(--margin);
  font-size: 1.5em;
  font-weight: bold;
}

#footer .wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
