#header {
  width: 100%;
  height: auto;
  background: var(--light);
  color: var(--dark);

  padding-top: var(--margin);
  padding-bottom: var(--margin);
}

#header .wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

#header img {
  display: block;
  max-width: 200px;
  height: auto;
}
