.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: var(--margin-2);
  font-size: 2em;
  line-height: 2em;
}

.list article {
}

.list a {
  width: auto;
  display: inline-block;

  border: 1px solid transparent;
  border-left-color: var(--light);
  border-bottom-color: var(--light);
  padding: var(--margin-h);
  padding-right: var(--margin-2);
  padding-left: var(--margin-2);
}

.list a:hover {
  color: var(--light);
  border-top-color: var(--light);
  border-right-color: var(--light);
  border-left-color: var(--high);
  border-bottom-color: var(--high);
}

.list article:nth-child(even) a:hover {
  /* transform: translateY(calc(-1 * var(--margin-h))); */
}

.list article:nth-child(odd) a:hover {
  /* transform: translateY(var(--margin-h)); */
}
