:root {
  --margin: 16px;
  --margin-h: calc(var(--margin) / 2);
  --margin-2: calc(var(--margin) * 2);
  --margin-3: calc(var(--margin) * 3);
  --margin-4: calc(var(--margin) * 4);
  --margin-5: calc(var(--margin) * 5);

  --dark: #000000;
  --light: #ffffff;
  --high: #ec008c;
}
