<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A website to hold games">

    <meta name="author" content="Mario Carballo Zama">

    <meta name="apple-mobile-web-app-title" content="ellugar.co">

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png?v=rM3xw7xzqY">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png?v=rM3xw7xzqY">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png?v=rM3xw7xzqY">

    <link rel="manifest" href="/img/favicons/site.webmanifest?v=rM3xw7xzqY">
    <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg?v=rM3xw7xzqY" color="#000000">

    <link rel="shortcut icon" href="/img/favicons/favicon.ico?v=rM3xw7xzqY">
    <meta name="apple-mobile-web-app-title" content="<% htmlWebpackPlugin.options.title %>">
    <meta name="application-name" content="<% htmlWebpackPlugin.options.title %>">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png?v=rM3xw7xzqY">
    <meta name="msapplication-config" content="/img/favicons/browserconfig.xml?v=rM3xw7xzqY">
    <meta name="theme-color" content="#000000">


    <meta property="og:title" content="<% htmlWebpackPlugin.options.title %>"/>
    <meta property="og:image" content="https://play.ellugar.co/img/preview.jpg"/>
    <meta property="og:site_name" content="<% htmlWebpackPlugin.options.title %>"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://play.ellugar.co" />
    <meta property="og:description" content="A website to hold games"/>

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@afk_mcz" />
    <meta name="twitter:title" content="<% htmlWebpackPlugin.options.title %>" />
    <meta name="twitter:image" content="https://play.ellugar.co/img/preview.jpg" />
    <meta name="twitter:url" content="https://play.ellugar.co" />
    <meta name="twitter:description" content="A website to hold Games"/>
  </head>
  <body>

    <header class="flag" id="header">
      <div class="wrapper">
        <a href="https://ellugar.co">
          <img src="img/logo.svg" alt="ellugar" class="flag__image"/>
        </a>

        <h1>Games</h1>
      </div>
    </header>

    <main class="wrapper">
      <section class="list">
        <% for(var game in htmlWebpackPlugin.options.games) { %>
        <article>
          <a href="<%= htmlWebpackPlugin.options.games[game].url %>"
             target="_blank" 
             rel=”noopener noreferrer”>
             <%= htmlWebpackPlugin.options.games[game].name %>
          </a>
        </article>
        <% } %>
      </section>
    </main>


    <footer id="footer">
      <ul class="wrapper">
        <li><a href="https://twitter.com/afk_mcz" target="_blank" title="Twitter" >@afk_mcz</a></li>
        <li><%= htmlWebpackPlugin.options.games.length %></li>
        <li><a href="mailto:afk@ellugar.co?Subject=Hi" target="_top">afk@ellugar.co</a></li>
      </ul>
    </footer>

  </body>
</html>
